<h3>Faculty-Template</h3>
<table>
  <tbody>
    <tr>
      <th>Rank:</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>Annual Basis:</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>Review of Applications Begins:</td>
      <td id="pupPdReviewBegins">${pupPdReviewBegins}</td>
    </tr>
    <tr>
      <th>Special Instructions to    Applicants:</td>
      <td id="pupPdSpecInstruct">${pupPdSpecInstruct}</td>
    </tr>
    <tr>
      <th>Department:</td>
      <td id="pupPdDept">${pupPdDept}</td>
    </tr>
    <tr>
      <th>Department Summary:</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>Position Summary:</td>
      <td id="pupPdJobDesc">${pupPdJobDesc}</td>
    </tr>
    <tr>
      <th>Minimum Requirements:</td>
      <td id="pupPdMinReq">${pupPdMinReq}</td>
    </tr>
  </tbody>
</table>
